<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>

        <div style="border: black;">
            <form method="POST" data-th-action="@{/transfer}" data-th-object="${fundTransfer}">

                <table style="align-items: center;">

                    <thead>
                        <h1>Fund Transfer</h1>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <label for="">From Account: </label>
                            </td>
                            <td>
                                <select name="accountFrom" id="">
                                    <option data-th-each="fromAccount: ${fundTransfer.fromAccount}" data-th-value="${fromAccount.accountId}" data-th-text="${#strings.concat(fromAccount.accountName, ' (', fromAccount.accountId, ')')}">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">To Account: </label>
                            </td>
                            <td>
                                <select name="accountTo" id="">
                                    <option data-th-each="toAccount: ${fundTransfer.toAccount}" data-th-value="${toAccount.accountId}" data-th-text="${#strings.concat(toAccount.accountName, ' (', toAccount.accountId, ')')}">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Amount: </label>
                            </td>
                            <td>
                                <input type="number" step="0.01" name="amount" data-th-value="*{amount}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="" style="align-content: start;">Comment:</label>
                            </td>
                            <td>
                                <textarea name="comment" id="" cols="30" rows="10" placeholder="Type here" data-th-field="*{comment}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit">Trasfer</button>
                            </td>
                        </tr>
                    </tbody>


                </table>

            </form>
        </div>

        <div data-th-unless="${#strings.isEmpty(error)}" style="border: 0cap;">
            <p data-th-text="${error}" style="color:brown"></p>
        </div>

    </body>
</html>